# Prerequisites
*.d

# CMake
*.cmake
CMake*
*.tcl
Makefile
LpmConfig.h

# Test data produced
*.vtk

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.m
*.csv
*.txt
*.pdf
*.dat
*.namelist
