[submodule "ext/yaml-cpp"]
	path = ext/yaml-cpp
	url = git@github.com:SNLComputation/yaml-cpp.git
	shallow = true
[submodule "ext/spdlog"]
	path = ext/spdlog
	url = git@github.com:gabime/spdlog.git
	shallow = true
[submodule "ext/catch2"]
	path = ext/catch2
	url = git@github.com:catchorg/Catch2.git
	branch = v3.4.0
	shallow = true
